body {
	margin: 0;
}
.container {
	width: 1280px;
	margin: 0 auto;
	font-family: Arial;
}
.main-header {
	width: 100%;
	padding: 40px 49px;
	box-sizing: border-box;
	display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #445161;
}
.main-header-wrp {
	flex-basis: 50%;
}
.main-header-title {
	font-size: 60px;
}
.main-header-list {
	margin-top: 20px;
	padding-left: 30px;
	box-sizing: border-box;
	font-size: 20px;
	line-height: 1.8;
	list-style-image: url(../img/main-header-checkicon.png);
}
.main-header-list li {
	margin: 10px 0 0 0;
	padding-left: 1%;
}
.main-header-list li:first-child {
	margin: 0;
}
.heading-all-main {
	display: flex;
    justify-content: center;
	color: #445161;
	font-size: 30px;
}
.txt-all-main {
	color: #333333;
	line-height: 1.5;
}
.about-product {
	width: 100%;
	padding: 50px 49px;
	box-sizing: border-box;
	display: flex;
    justify-content: space-between;
}
.about-product-wrp {
	flex-basis: 653px;
}
.about-product-title {
	justify-content: left;
}
.about-product-txt {
	margin: 20px 0 0 0;
}
.dignity {
	width: 100%;
	padding: 50px 49px;
	box-sizing: border-box;
}
.dignity-title {
	text-align: center;
}
.dignity-list {
	width: 100%;
	margin: 20px 0 0 0;
	padding-left: 30px;
	box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}
.dignity-list-li {
    position: relative;
}
.dignity-list-li:before {
	content: "";
	display: block;
  	width: 20px;
  	height: 20px;
  	background-image: url(../img/dignity-list-checkicon.png);
  	position: absolute;
	top: 4px;
    left: -28px;
}
.dignity-list li {
	box-sizing: border-box;
    flex-basis: 47%;
    margin-bottom: 2%;
}
.dignity-list li:nth-child(5),
.dignity-list li:nth-child(6) {
	margin: 0;
}
.screenshots {
	width: 100%;
	padding: 50px 49px;
	box-sizing: border-box;
}
.screenshots-title {
	margin-bottom: 1%;
}
.screenshots-wrp {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.screenshot {
    flex-basis: 47%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}
.screenshot:nth-child(3),
.screenshot:nth-child(4) {
	margin: 0;
}
.screenshots img {
	flex-basis: 202px;
	flex-grow: 3;
}
.screenshot p {
	margin: 10px 0 0 0;
}
.screenshot-caption {
	margin-left: 2%;
}
.heading-caption {
	color: #445161;
	font-size: 24px;
	line-height: 1.3;
}
.reviews {
	padding: 50px;
	padding-bottom: 30px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.reviews-title {
	width: 100%;
	margin: 0 0 20px 0;
	text-align: center;
}
.reviews-item {
	width: 48%;
	margin: 0 0 20px 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
.reviews-item-photo {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #445161;
}
.reviews-item-txt {
	width: 80%;
	margin: 0;
	padding: 15px;
	background-color: #EBEBEB;
	border-radius: 10px;
	position: relative;
}
.reviews-item-txt:before {
	content: "";
	display: block;
	border: 13px solid transparent; 
	border-right: 13px solid #EBEBEB;
	position: absolute;
	top: 27px;
	left: -26px;
}
.reviews-item-txt-author {
	display: block;
	margin: 5px 0 0 0;
	font-weight: bold;
	color: #989898;
	font-size: 14px;
	line-height: 1.3;
}
.buy-it-now {
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
}
.prices-item {
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}
.price {
	width: 300px;
	padding: 0 0 10px 0;
	border: 2px solid #445161;
	background-color: #445161;
	box-sizing: border-box;
	border-radius: 10px;
}
.price-title {
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
	font-size: 24px;
	line-height: 1.3;
	color: #fff;
	box-sizing: border-box;
	text-transform: capitalize;
}
.price-txt {
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
	font-size: 40px;
	background-color: #fff;
	color: #445161;
	box-sizing: border-box;
}
.price-list {
	color: #ffffff;
	font-size: 14px;
	line-height: 1.7;
}
.price-btn {
	display: block;
	width: 262px;
	padding: 5px 10px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid transparent;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	outline: none;
	color: #445161;
	transition-duration: 1s;
}
.price-btn:hover {
	background-color: #445161;
	color: #fff;
	border: 1px solid #fff;
	transition-duration: 1s;
}
.price-btn:active {
	background-color: #fff;
	color: #445161;
	transition-duration: 0.5s;
}